__pycache__/Board.cpython-310.pyc
*.pyc
Main.py
__pycache__/Main.cpython-310.pyc
__pycache__/Main.cpython-310.pyc
Creds.txt

# Virtualenv
# http://iamzed.com/2009/05/07/a-primer-on-virtualenv/
.Python
[Bb]in
[Ii]nclude
[Ll]ib
[Ll]ib64
[Ll]ocal
[Ss]cripts
pyvenv.cfg
.venv
venv
pip-selfcheck.json
